
body {
    height: 100vh;
}

.container_post {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

.post_box {
    font-family: var(--fonte-texto);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    width: 80%;
    padding: 3% 5%;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 15px;
}

.post_title {
    width: 100%;
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    margin-bottom: 0.5em;
}

.post_text {
    color: #000;
    width: 100%;
    text-align: justify;
    text-indent: 1rem;
    height: auto;
}

.post_date {
    font-family: var(--fonte-titulo);
    font-size: 0.9rem;
    width: 100%;
}

.post_box_text {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.post_box_img {
    width: 40%;
}
